#tabelaPrice th, #tabelaPrice td, #tabelaPrice {
  border: 1px solid black;
  margin: auto;
}

#tabelaPrice {
  width: 80%;
}

#tabelaPrice th {
  text-align: center;
}

#tabelaPrice #indice {
  width: 40px;
  text-align: center;
}

#trTotais {
  font-weight: bold;
}

#imgPrice {
  border:1px solid black;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.valorInvalido {
  color: #A52A2A;
  font-weight: bold;
  text-align: center;
}

.img-relative {
    width: 150px;
    height: 50px;
}

.btn-submit {
  text-align: center;
  border: 1px solid transparent;
  padding: 7px;
  margin: 0px 2px 8px 2px;
  border-radius: 0.25rem;
}

.custom-style1 {
    margin-bottom: 15px;
    margin-top: 0px;
    padding: 0px;
}

.custom-style2 {
    padding: 9px 0px 0px 0px;
    margin-bottom: 5px;
    margin-top: 0px;
}