.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.valorInvalido {
  color: #A52A2A;
  font-weight: bold;
  text-align: center;
}

.img-relative {
    width: 150px;
    transition: 0.2s;
}

.footer {
    padding: 10px 0 10px;
    text-align: center;
}

#imagemStudy {
    width: 30px;
    margin-bottom: 5px;
}

.img-logo-sm {
    width: 100px;
    transition: 0.3s;
}

.img-quiz {
    width: 300px;
}

.img-logo-index {
    width: 500px;
}

.img-index-author {
    width: 120px;
}

.custom-style {
    padding: 9px 0px 0px 0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

nav.navbar {
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    height: 90px;
    transition: 0.2s;
}

nav.navbar.scroll-down {
    /*opacity: 0.8;*/
    height: 50px;
    padding-top: 3px;
    transition: 0.3s;
}

body {
    margin-top: 138px !important;
}

/*#buttonMenu {
    padding-bottom: 4px;
    padding-top: 4px;
    margin-top: 3px;
}*/

/*Efeito menu*/
#efeitoMenu a {
    margin-right: 10px; 
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.borderXwidth a:before, div.borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #000;
    transition: all 0.3s;
}

div.borderXwidth a:before {
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after {
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
}

.progresso-quiz {
    margin-top: -48px;
}

.progresso-quiz.progresso-quiz-scroll {
    margin-top: -88px;
    position: fixed;
    height: 0px;
    left: 0px;
    right: 0px;
}

#div-progress-bar {
    height: 10px;
}

#progress-bar-id {
    width: 0%;
}

.progress-bar-class{
  background-color: #007bff;
}

.tachado {
    text-decoration:line-through;
}